html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: $font;
  font-size:$font-size;
  color: $font-color;
  text-align: center;

  .loading {
    display: flex;
  }

  .loading-image {
    display: none;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;

  }
}
.container {
  display: flex;
  min-height: 100vh;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  
}