html {
  box-sizing: border-box;
  outline: none;
}


img {
  height: auto;
  max-width: 100%;
}



.loading-image {
  height: auto;
  max-width: 100%;
}

header {
  padding-top: 12.5rem;
}


.menue{
  background-color: white;
  font-size: 1.1rem;
}

.loading {
  margin-top:auto;
}

.insta-header p {
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}



.header-up  {
   height: auto;
   align-items: flex-start;
   max-width: 600px;
   padding: 0;
   height: auto;
   flex: 1 0 auto;
   img {
     height: auto;
     width: 10rem;
   }

   .logo-container {
     padding-top:2rem;
   }

   .choose-a-section{
     padding-bottom: 3rem;
   }

   @include tablet {
    display: flex;
    width: 100%;
    align-items: flex-start;
    max-width: 600px;
    flex-wrap: wrap;
    margin-left: 4rem;
    
 
    img {
      height: auto;
      width: 4rem;      
    }

    .logo-container {
      padding-right: 6rem;

    }

   }

  }


