


img {
  height: auto;
  max-width: 100%;
}



.loading-image {
  height: auto;
  max-width: 100%;
}

header {
  padding-top: 12.5rem;
}


.menue{
  background-color: white;
  font-size: 1.1rem;
}

.loading {
  margin-top:auto;
}

.insta-header p {
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 600px) {
  

 
  
  header {
    display: flex;
    flex-flow: nowrap row;
    width: 100%;
  }
  .logo {
    height: auto;
    max-width: 100%;
  } 
  


  .logo-container {
    display: flex;
    justify-content: flex-start;
    flex-basis: 23%;
    margin-left: 5.6rem;
    margin-top: 3rem;
    
  }

  .choose-a-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 2rem;
  }
}

// #articles {
//   display: grid;
//   grid-template-columns: 1fr;
  

// }

// .articles li  {
//   display: block;
//   height: 420px;
//   width: 100%;
//   background-size: cover;
//   background-position: 50%;
// }

.article-item {
  height: 420px;
  width: 100%;
  background-position: 50%;

}